<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>{{'tabs.home' | translate}}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="categories">
      <ion-icon name="apps"></ion-icon>
      <ion-label>{{'tabs.categories' | translate}}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="videos">
      <ion-icon name="videocam"></ion-icon>
      <ion-label>{{'tabs.videos' | translate}}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
